// Text
$ptx-blue: hsl(238, 29%, 16%);
$ptx-red: hsl(14, 88%, 65%);
$ntx-v-dark-blue: hsl(237, 12%, 33%);
$ntx-dark-blue: hsl(240, 6%, 50%);

// Background gradient:
$bg-violet: hsl(273, 75%, 66%);
$bg-blue: hsl(240, 73%, 65%);

// Dividers
$dv-blue: hsl(240, 5%, 91%);

@font-face {
    font-family: "Kumbh Sans";
    src: url(../fonts/KumbhSans-Regular.ttf);
}


body {
    font-family: Kumbh Sans, sans-serif ;
    font-size: 12px;
    font-weight: 400;
    box-sizing: border-box;
    margin: 40% 5% 10% 5%;
    background-image: linear-gradient($bg-violet, $bg-blue);
}

main {
    background-color: white;
    border-radius: 20px;
    box-shadow: 10px 30px 70px rgba(0, 0, 0, 0.4);
}

.images {
    margin-left: 5%;
    height: 130px;

}

.desktop-img {
    display: none;
}

.mobile-img {
    overflow: visible;
    position: relative;
    bottom: 110px;
    width: 85%;
}

.bg-mobile {
    position: relative;
    bottom: 200px;
    width: 75%;
    left: 9%;
}

h1 {
    color: blue;
    text-align: center;
}








.attribution {
    font-size: 11px; 
    text-align: center;
    margin-top: 20px;


}
.attribution a { color: hsl(228, 45%, 44%); }